@media all and (max-width: 1064px) {

    /* menu */
    header h1 {
        float: none;
        text-align: center;
        font-size: 36px;
    }

    .menu {
        position: absolute;
        left: -160px;
        width: 120px;
        background-color: #B9F3FC;
        border: 3px solid #19A7CE;
        transition: 0.5s;
        text-align: center;
        z-index: 10;
    }

    .menu.active {
        left: -10px;
    }

    .menu a {
        display: block;
        padding: 1px;
        margin: 10px 0;
        font-size: 16px;
    }

    .fa-bars {
        position: absolute;
        visibility: visible;
        font-size: 25px;
        float: left;
        top: 20px;
        left: 30px;
        color: #2F58CD;
    }

    /* index dan dashboard */
    .body h1 {
        font-size: 36px;
    }

    .body p {
        font-size: 16px;
    }

    .body a {
        padding: 5px 25px;
        font-size: 16px;
    }

    /* about */
    .about h1 {
        font-size: 50px;
        margin: 20px 0;
    }

    .about h3 {
        font-size: 14px;
        padding: 10px;
        width: 75%;
    }

    .about h2 {
        font-size: 18px;
        margin: 20px auto;
    }

    /* kontak */
    .contact h1 {
        font-size: 36px;
    }

    .kontak h2 {
        font-size: 24px;
    }

    .kontak p {
        font-size: 20px;
    }

    /* button */
    button {
        font-size: 16px;
    }

    .kolomchat {
        height: 200px;
    }

    /* bot */
    .chatbox {
        margin: 20px auto;
        width: 75%;
    }

    .chatbox h1 {
        font-size: 26px;
        padding: 5px;
    }

    .pesan {
        padding: 5px;
    }

    /* login dan form */
    #judul {
        font-size: 28px;
        word-wrap: break-word;
    }

    .masuk {
        padding: 10px;
        width: 75%;
        margin-top: 50px;
    }

    .masuk input {
        padding: 5px;
        width: 100%;
    }

    label {
        font-size: 12px;
    }

    /* admin */
    #teks {
        font-size: 14px;
    }

    #add {
        font-size: 12px;
        font-weight: normal;
        padding: 3px;
    }

    #kondisi, #gejala, #kodep, #kodeg, select, #deskripsi {
        width : 90%;
    }
}

@media (max-width: 768px) {
    table {
        border: 0;
    }
    
    tr.field th {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #85CDFD;
        height: auto;
    }
    
    th, td {
        display: block;
        width: 100%;
        text-align: left;
    }
    
    td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
    }
    
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    
    td#riwayat:nth-of-type(1):before { content: "No"; }
    td#riwayat:nth-of-type(2):before { content: "Nama"; }
    td#riwayat:nth-of-type(3):before { content: "Gejala"; }
    td#riwayat:nth-of-type(4):before { content: "Kondisi"; }
    td#riwayat:nth-of-type(5):before { content: "Deskripsi"; }
    td#riwayat:nth-of-type(6):before { content: "Rekomendasi"; }
    td#riwayat:nth-of-type(7):before { content: "Tanggal dan Jam"; }
    td#riwayat:nth-of-type(8):before { content: "Lihat"; }

    td#kondisi:nth-of-type(1):before { content: "No"; }
    td#kondisi:nth-of-type(2):before { content: "Kode"; }
    td#kondisi:nth-of-type(3):before { content: "Kondisi"; }
    td#kondisi:nth-of-type(4):before { content: "Deskripsi"; }
    td#kondisi:nth-of-type(5):before { content: "Rekomendasi"; }
    td#kondisi:nth-of-type(6):before { content: "Aksi"; }

    td#gejala:nth-of-type(1):before { content: "No"; }
    td#gejala:nth-of-type(2):before { content: "Kode"; }
    td#gejala:nth-of-type(3):before { content: "Gejala"; }
    td#gejala:nth-of-type(4):before { content: "Aksi"; }

    td#hubungan:nth-of-type(1):before { content: "No"; }
    td#hubungan:nth-of-type(2):before { content: "Kondisi"; }
    td#hubungan:nth-of-type(3):before { content: "Gejala"; }
    td#hubungan:nth-of-type(4):before { content: "Aksi"; }

/* Gaya untuk warna berbeda pada setiap baris isi */
tr.isi:nth-child(odd) {
    background-color: #A1CCD1;
}

tr.isi:nth-child(even) {
    background-color: #ffffff;
}
}